<div id="<%= dom_id proposal %>">
  <div>
    <p>
    User ID: 
      <%= "#{proposal.user_id}" %><br/>
    Simulation ID:
      <%= "#{proposal.simulation_id}" %><br/>
    Total Amount:
      <%= "#{proposal.total_amount}" %><br/>
    Monthly Payment:
      <%= "#{proposal.monthly_payment}" %><br/>
    Total Fees:
      <%= "#{proposal.total_fees}" %><br/>
    </p>
  </div>
</div>
