<div id="<%= dom_id simulation %>">
  <div>
    <p>
    User ID: 
      <%= "#{simulation.user_id}" %><br/>
    Birdthdate:
      <%= "#{simulation.birthdate}" %>
    </p>
    Age:
      <%= "#{@user_age}" %>
    </p>
    
  </div>

  <div>
    <p>
    Simulated amount: 
      <%= "#{simulation.value}" %>
    </p>
  </div>

  <div>
    <p>
    Simulation Terms in months: 
      <%= "#{simulation.term_in_months}" %>
    </p>
  </div>

  <div id="proposals">
    <h1>Proposals:</h1>
    <% @proposals.each do |proposal| %>
      <p>
        <%= render "simulations/proposal", proposal: proposal %>
      </p>
    <% end %>
  </div>
</div>
